@use '../variables' as v;
@use '../tipografia';
@use '../mixins' as m;
@use '../buttons';

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 2rem;
  }

  .btn-nav {
    color: v.$azul !important;
    border: v.$azul solid 2px !important;
    cursor: pointer;

    &:hover {
        background-color: v.$azulOp !important;
    }
    
}